aiofiles
opencv-python==4.5.5.64
fastapi==0.75.0
uvicorn==0.17.6
fastapi-login==1.8.0
sqlalchemy==1.4.32
databases==0.5.5
asyncpg==0.25.0
Jinja2==3.0.3
python-multipart==0.0.5
starlette==0.17.1
alembic~=1.7.6
python-dotenv==0.20.0
psycopg2==2.9.3
FastAPI-SQLAlchemy==0.2.1
opencv-python-headless==4.5.5.64
requests==2.27.1