body {
	color: #8f8f8f;
	font: 12px Tahoma, sans-serif;
	background-color: #f8f8f8;
	border-top: 5px solid #7e7e7e;
	margin: 0;
}
.emergency {
	color: #f00;
	background-color: #f00;
	border: none;
	height: 99px;
	min-width: 90px;
	font-family: 'Oswald', sans-serif;
	margin-right: 10px;
	margin-bottom: 5px;
	padding: 2px;
}
.team-row button {
	color: #fff;
	background-color: #29c5e6;
	border: none;
	height: 32px;
	min-width: 90px;
	font-family: 'Oswald', sans-serif;
	margin-right: 10px;
	margin-bottom: 5px;
	padding: 2px;
}

p {
	margin: 20px 0;
}

.team-row img {
	display: flex;
	height: 250px;
	width: 250px;
	border: 1px solid #fff;
	outline: 1px solid #c9c9c9;
	margin-right: 10px;
	display: inline;

}

li {

   }
