<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<center>
					<form method="POST" action="/auth/login">
						<div class='row'>

						<div class='col-1' style="align-self: end;"><label for="username">Логин</label></div>
						<div class='col'><input class="form-control m-1" id="username" name="username" type="text"></div>
						</div>
						<div class='row'>
						<div class='col-1' style="align-self: end;"><label for="password">Пароль</label></div>
						<div class='col'><input class="form-control m-1" id="password" name="password" type="password"></div>
						</div>
						<br>
						<center>
							<button type="submit" class="btn btn-primary">
								&nbsp;Подтвердить
							</button>
						</center>
					</form>
	</center>

</body>
</html>