<html lang="ru">
    <head>
        <link rel="stylesheet" href="{{url_for('static', path = 'css/styles.css')}}" type="text/css">
        <meta http-equiv="Content-Type" content="text/html; Charset=UTF-8">
        <script type="text/javascript" src="{{url_for('static', path = 'js/jquery.js')}}"></script>
    </head>

    <body>
        {% include 'pages/header.html' %}
        <div >
            <ul id="list">

            </ul>
        </div>
        <script  type="text/javascript" src="{{url_for('static', path = 'js/refresh_data.js')}}"></script>

    </body>
</html>